﻿@model IEnumerable<BaseScraperLibrary.Item>

@{
    ViewBag.Title = "Search results";
}

<div class="res_main">
    @if (Model != null && Model.Count() != 0)
    {
        <h1 class="res_count">Founded @((int)ViewData["Count"]) Results@*(@((double)ViewData["time"]/1000) sec)*@</h1>

        <div class="results_container">
            @foreach (var item in Model)
            {
                <a target="_blank" href="@item.RealLink" class="item_container">
                    <img src="@item.ImgLink" class="res_img">
                    <div class="res_details">
                        <div class="res_name">@item.Name</div>
                        <div class="res_price">@item.Price</div>
                        <div class="res_sitename">@item.SiteName</div>
                    </div>
                </a>
            }
        </div>
    }
    @if(Model == null || Model.Count() == 0)
    {
        <h1 class="res_count">Your search did not match any postings</h1>
    }
</div>