﻿@model WebApi.Models.RequestModel

@{
    ViewBag.Title = "Search Page";
}

<div class="jumbotron">
    <h1>Web Scraping</h1>
    <br>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3>Type your search</h3>

        @Html.EditorFor(Model => Model.ItemName, new { @class = "search" })
        @Html.ValidationMessageFor(Model => Model.ItemName, "", new { @class = "text-danger" })

        <br>
        <h3>Select the sources</h3>

        <div class="checkboxes_container">
            @foreach (string site in (IEnumerable<string>)ViewData["Sites"])
            {
                <div class="div_check">
                    <strong>@site</strong>
                    @Html.CheckBoxFor(Model => Model.AllSites[site])
                </div>
            }
        </div>

        <br>
        <h3>Select currency and prices</h3>
        <br>
        @Html.DropDownListFor(Model => Model.Currency, new SelectList(Enum.GetValues(typeof(BaseScraperLibrary.AvailableCurrencies))), "Select Currency", new { @class = "drop" })
        <br>

        <br>
        @Html.Label("Min Price")
        @Html.TextBoxFor(Model => Model.MinPrice, new { type = "number", min = "0"})
        <br><br>

        @Html.Label("Max Price")
        @Html.TextBoxFor(Model => Model.MaxPrice, new { type = "number", min = "0"})
        <br><br>

        <h3 class="h3_number">Number of items</h3>
        @Html.TextBoxFor(Model => Model.ItemCount, new { @class = "itemcount", type = "number", min = "5", max = "100" })
        @Html.ValidationMessageFor(Model => Model.ItemCount, "", new { @class = "text-danger" })

        <br><br>
        <input type="submit" formaction="@Url.Action("Index", "Home", Model)" formmethod="post" name="Search" value="Search" class="btn btn-primary" />
    }
</div>

